
#container {
    width: 100%;
}
#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 5vw;
    mix-blend-mode: difference;
    padding: 3px 1px 0px 3px;
}
.logo {
    border: 1px solid black;
    background-color: #2b96ff;
    border-radius: 10vw;
    display: flex;
    width: 23vw;
    align-items: center;
    cursor: wait;
}
.logo img{
    height: 5vw;
    width: 5vw;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 40vw;
    z-index: 10;
    color: #2b96ff;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}
.logo:hover .dropdown-content {
    display: block;
}
#navbar h7{
    color: black;
    font-size: 3vw;
    font-weight: 700;
    margin-top: 0vm;
}
.box1 {
    width: 100%;
    height: 60vw;
}
.box1 img {
    height: 60vw;
     width: 100%;
     opacity: 0.8;
     position: absolute;
     left: 0;
     top: 1.5px;
     padding-top: 5.2vw;
     border-top-right-radius: 30vw;
     border-bottom-left-radius: 30vw ;
}
.box1 h3 {
    position: relative;
    top: 10vw;
    color: #2b96ff;
    z-index: 99;
    font-size: 8vw;
    /*text-shadow: 0px 5px 5px;*/
}
#bio_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    #bio_cont{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box2{
        height: 10000px;
    }
    .bioNotes{width: 100%;}
    .bioVideos{width: 100%;}
    .bioPapers{width: 100%;}
}
#bio_cont .notes, .videos, .papers {
    width: 30%;
    border: 0px;
    background-color: white;
    font-weight: 500;
    /*cursor: pointer;*/
}
#bio_cont .bioNotes{ 
    display: block;
    z-index: 9999;
    width: 20vw;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.bioNotes::-webkit-scrollbar{
    display: none;
}
/*.notes:hover .bioNotes{
    display: block;
}*/
#bio_cont .bioVideos{ 
    display: block;
    z-index: 9999;
    width: 20vw;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.bioVideos::-webkit-scrollbar{
    display: none;
}
#bio_cont .bioPapers{ 
    display: block;
    z-index: 9999;
    width: 20vw;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.bioPapers::-webkit-scrollbar{
    display: none;
}


.box2{
    /*background-color: black;*/
    width: 100%;
    height: 50vw;
    margin-top: 10px;
}
.subject_pics {
    width: 20vw;
    height: 20vw;
    margin-left: 40%;
    border-radius: 10px;
}
.subject {
    margin-left: 40%;
    margin-top: 2px;
    font-weight: 700;
}
#music {
    width: 50vw;
    height: 20vw;
    /*background-color: #2b96ff;*/
    display: flex;
    gap: 1vw;
}
#music img{
    height: 20vw;
    width: 20vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
}
#grind {
    width: 50vw;
    height: 20vw;
    /*background: blueviolet;*/
    display: flex;
    gap: 1vw;
}
#grind img{
    height: 20vw;
    width: 20vw;
    opacity: 1;
}
#inline {
    display: flex;
}